.footer{
    width: 100%;
    padding-bottom: 20px;
    background: $right-gradiant;
    text-align: center;
    &__social{
        padding: 10vh 5vw;
        font-size: 2vw;
        font-weight: bold;
        text-transform: uppercase;
        & ul{
            display: flex;
            justify-content: space-around;
        }
    }
    &__copyright > p{
        text-align: center;
        font-weight: bold;
    }
}