.footer{
    width: 100%;
    padding-bottom: 20px;
    background: $right-gradiant;
    text-align: center;
    &__social{
        padding: 10vh 5vw;
        font-size: max(2vw, min(1rem));
        font-weight: bold;
        text-transform: uppercase;
        & ul{
            display: flex;
            justify-content: space-around;
            @media screen and (max-width: 425px){
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            }
            & li{
                color: red;
            }
        }
    }
    &__copyright > p{
        text-align: center;
        font-weight: bold;
        font-size: max(1vw, min(0.8rem));
    }
}