*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body, html {
    box-sizing: border-box;
    font-size: 1rem;
    background: $white;
    color: $white;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-image: url("../../assets/bg.svg");
}

a{
    text-decoration: none;
    color: $white;
}

p {
    color: $white;
}

ul{
    list-style-type: none;
}

section{
    margin-bottom: 5rem;
}