.article-container{
    height: 100%;
    @media screen and (max-width: 1440px){
        padding: 5rem 2rem;
    }
    & h2{
        margin-bottom: 2rem;
    }
    &__title{
        color: $light-blue;
        font-size: max(4vw, min(2rem));
        margin-bottom: 2rem;
        position: relative;
        text-decoration: underline;
    }
    &__text{
        color: $black;
        font-size: 2rem;
        margin-bottom: 5rem;
    }
}

table{
    margin: 5rem 0;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid $light-blue;
}